.App {
  text-align: center;
}

#root {
  height: 1000px;
  background-image: url(./clouds-g7933a6c7f_1920.jpg);
}  

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-date {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.list {
  font-size: 1rem;
  font-weight: 400;
}

.temperature {
  font-size: 1rem;
  font-weight: 600;
}

.navigation {
  display: flex;
}

.weather{
  display: flex;
}